<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" media="all"
	href="/CSS/style.css" th:href="@{/css/style.css}" />
<title>Login page</title>
</head>



<body class=start>
<div class=welcome>
	<h1>Welcome to the University of NightCity</h1>
	</div>
	<br><br><br><br><br> 


<div class = divlogin>
	<form action="CheckLogin" method="POST">
		<input type="text" name="id" placeholder = "Your ID"required> 
		<input type="password" name="pwd" placeholder = "Your Password" required>
		<input type="submit" value="login">
		<p th:text=" ${errorMsg}"></p>
	</form>
</div>

<br><br><br><br><br> 
<div class = credits>
<h2>v 0.29 <br>     Powered By Team 25&reg;</h2>
</div>
</body>
</html>