/*main_color_page*/
:root {
  --pro: #da3030;
}

.proback {
	background-image: url("../resources/professor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.main{
	background-color: var(--pro);
	color: white
}
.userdata {
	position: absolute;
	top: 50px;
	left: 16px;
	font-weight: bold;
	border-radius: 3px;
	border-style: none;
	color: white;
	cursor: default;
	background-color: var(--pro);
	width: max-content;
	padding: 5px 10px 5px 10px;
	text-align: left;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.wrapper {
  margin: 0 auto;
  padding: 20px 0px 0px 0px;
  font-size: 22px;
}

.table {
  margin: 0 0 40px 0;
  width: 40%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: inline-table;
  border-collapse: collapse;
  margin-left: 10px;
  margin-right: 10px;
}

.tablefull {
  margin: 0 0 40px 0;
  width: max-content;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: inline-table;
  border-collapse: collapse;
  margin-left: 10px;
  margin-right: 10px;
}


tr {
  display: table-row;
  background: #eeeeec;
}
tr:nth-of-type(odd) {
  background: #d3d7cf;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: var(--pro);
}

td {
  padding: 12px 10px;
  display: table-cell;
}

a{
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.logoutbutton {
	position: absolute;
	top: 50px;
	right: 16px;
	width: 155px;
	height: 60px;
	font-size: 27px;
	font-weight: bold;
	background-color: var(--pro);
	border-radius: 6px;
	color: white;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


.logoutbutton:hover {
	background-color: #f85f5f;
}


.showbar{
	display: inline-flex;
}

.show{
  margin-left: 10px;
  margin-right: 10px;
  display: inline-table;
  visibility: hidden;
}

.modify {
	background-color: #3465a4;
	padding: 12px 15px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
	display: inherit;
	width: 250px;
}

.modify:hover {
	background-color: #5893d1;
}

.modifylo {
	background-color: #b4c9e1;
	padding: 12px 15px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
	display: inherit;
	width: 250px;
}

#record {
	background-color: #4e9a06;
	padding: 12px 15px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
	display: inherit;
	width: 250px;
}

#record:hover {
	background-color: #80dd25;
}

/* RECORDLO OLD COLOR #8ae234;  #8c8768*  #cab928/
/* PUBLISHLO OLD COLOR #fde946 */
#recordlo {
	background-color: #8c8768;
	padding: 12px 15px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
	display: inherit;
	width: 250px;
}

#publish {
	width: 250px;
	background-color: #edd400;
	padding: 12px 15px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
}

#publish:hover {
	background-color: #fce94f;
}

#publishlo {
	width: 250px;
	background-color: #8c8768;
	padding: 12px 15px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
}

.long_button{
	width: max-content;
	display: inline-block;
	margin-left: 3%;
	margin-right: 3%;
}

th{
    padding: 0px 30px 0px 30px;
}
th.sortable {
	cursor: pointer;
	padding: 0px 30px 0px 30px;
}

th.sortable:hover {
	color:blue;
}

th.sortable:active {
	color:yellow;
}

.boldarrow{
	color: blue;
	font-weight: bold;
	letter-spacing: -0.2em;
}

.normalarrow{
	color: white;
	font-weight: bold;
	letter-spacing: -0.2em;
}

.smodify {
	background-color: #3465a4;
	padding: 5px 12px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
	display: inherit;
}

.smodify:hover {
	background-color: #5893d1;
}

.smodifylo {
	background-color: #b4c9e1;
	padding: 5px 12px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
	display: inherit;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#update{
	background-color: #3465a4;
	margin-left: 13px;
	padding: 5px 12px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
	display: inherit;
}

#update:hover {
	background-color: #5893d1;
}

#sendNewScore{
	display: inline-flex;
}