.proback {
	background-image: url("../resources/professor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.main{
	background-color: #da3030;
	color: white
}
.userdata {
	position: absolute;
	top: 50px;
	left: 16px;
	font-weight: bold;
	border-radius: 3px;
	border-style: none;
	color: white;
	cursor: default;
	background-color: #da3030;
	width: max-content;
	padding: 5px 10px 5px 10px;
	text-align: left;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 80%;
}

.table {
  margin: 0 0 40px 0;
  width: 40%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: inline-table;
  border-collapse: collapse;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

tr {
  display: table-row;
  background: #eeeeec;
}
tr:nth-of-type(odd) {
  background: #d3d7cf;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #da3030;
}

@media screen and (max-width: 580px) {
  tr {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  td, .row.header {
    display: none;
  }
  tr, td {
    margin-bottom: 10px;
  }
  tr, td:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

td {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  td {
    padding: 2px 16px;
    display: block;
  }
}