<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1">
	<display-name>Examination_Results_Record</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/projectdb?serverTimezone=Europe/Rome</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>zxc1</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<filter>
		<filter-name>LoginChecker</filter-name>
		<filter-class>filter.LoginChecker</filter-class>
	</filter>
	<filter>
		<filter-name>ProfessorChecker</filter-name>
		<filter-class>filter.ProfessorChecker</filter-class>
	</filter>
	<filter>
		<filter-name>StudentChecker</filter-name>
		<filter-class>filter.StudentChecker</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginChecker</filter-name>
		<url-pattern>/GetCoursePro</url-pattern>
		<url-pattern>/GetCourseStud</url-pattern>
		<url-pattern>/GetCourseDatePro</url-pattern>
		<url-pattern>/GetCourseDateStud</url-pattern>
		<url-pattern>/GetRecord</url-pattern>
		<url-pattern>/GetRecordedEnrolls</url-pattern>
		<url-pattern>/GetResultDetails</url-pattern>
		<url-pattern>/GetSessionEnrolls</url-pattern>
		<url-pattern>/LogOut</url-pattern>
		<url-pattern>/UpdateResultStud</url-pattern>
		<url-pattern>/UpdateScore</url-pattern>
		<url-pattern>/UpdateStatus</url-pattern>
		<url-pattern>/RecordScores</url-pattern>
		<url-pattern>/UpdateMultipleScore</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ProfessorChecker</filter-name>
		<url-pattern>/GetCoursePro</url-pattern>
		<url-pattern>/GetCourseDatePro</url-pattern>
		<url-pattern>/GetRecord</url-pattern>
		<url-pattern>/GetRecordedEnrolls</url-pattern>
		<url-pattern>/GetSessionEnrolls</url-pattern>
		<url-pattern>/UpdateScore</url-pattern>
		<url-pattern>/UpdateStatus</url-pattern>
		<url-pattern>/RecordScores</url-pattern>
		<url-pattern>/UpdateMultipleScore</url-pattern>

	</filter-mapping>
	<filter-mapping>
		<filter-name>StudentChecker</filter-name>
		<url-pattern>/GetCourseStud</url-pattern>
		<url-pattern>/GetCourseDateStud</url-pattern>
		<url-pattern>/GetResultDetails</url-pattern>
		<url-pattern>/UpdateResultStud</url-pattern>

	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>