<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Exam Enrolls</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<form action="LogOut" method="get">
		<button class=logoutbutton type="submit">logout</button>
	</form>
	<form>
		<input class=returnbutton type="button" value=&#8617
			onclick="history.back()">
	</form>
	<h1>EXAM ENROLLS</h1>
	<table>
		<thead>
			<tr class=pro>
				<th><button class = "sort" type="button">IDStud&nbsp&#8645</button></th>
				<th><button class = "sort" type="button">Name&nbsp&#8645</button></th>
				<th><button class = "sort" type="button">Surname&nbsp&#8645</button></th>
				<th><button class = "sort" type="button">Email&nbsp&#8645</button></th>
				<th><button class = "sort" type="button">CourseDeg&nbsp&#8645</button></th>
				<th><button class = "sort" type="button">Mark&nbsp&#8645</button></th>
				<th><button class = "sort" type="button">Status&nbsp&#8645</button></th>
				<th class ="sortstatic">Option</th>
		</thead>
		<tbody>
			<tr th:each="e : ${enrolls}">
				<td th:text="${e.IDStudent}"></td>
				<td th:text="${e.name}"></td>
				<td th:text="${e.surname}"></td>
				<td th:text="${e.mail}"></td>
				<td th:text="${e.courseDeg}"></td>
				<td th:text="${e.mark}"></td>
				<td th:text="${e.status}"></td>
				<td>
					<form action="GoToSessionEnrolls" method="POST">
						<button class=modify name="modify" type="submit"
							th:value="${e.IDstudent}">Modify</button>

					</form>
				</td>
			</tr>
		</tbody>
	</table>


	<form action="GoToRecord" method="POST">
		<button class=record name="record" type="submit">RECORD</button>

	</form>

</body>
</html>