<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>EXAM DATES</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<form action="LogOut" method="get">
		<button class=logoutbutton type="submit">logout</button>
	</form>
	<form action="GoToHomePageStud" method="get">
		<button class=returnbutton>&#8617</button>
	</form>
	<h1>EXAM DATES</h1>

	<div>
		<table>
			<thead>
				<tr class=stud>
					<th>IdAppello</th>
					<th>Date</th>
			</thead>
			<tbody>
				<tr th:each="c : ${exams}">
					<td th:text="${c.id}"></td>
					<td>
						<form action="GoToResult" method="post">
							<button class=button3 name="IDExamDate" type="submit"
								th:value="${c.id}" th:text="${c.date}"></button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>