<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Exam Enrolls</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<form action="LogOut" method="get">
		<button class=logoutbutton type="submit">logout  &#10008</button>
	</form>
	<form>
		<input class=returnbutton type="button" value="go back &#11144"
			onclick="history.back()">
	</form>
	<h1>EXAM DATES</h1>
	<p	th:text="${'All exam dates of the course ' + coursename}"></p>

	<div>
		<table>
			<thead>
				<tr class=pro>
					<th>IdAppello</th>
					<th>Date</th>
			</thead>
			<tbody>
				<tr th:each="c : ${exams}">
					<td th:text="${c.id}"></td>
					<td>

						<form action="GoToSessionEnrolls" method="post">
							<input type="hidden" name="name" id="coursename" th:value="${coursename}"/>
							<input type="hidden" name="date" id="date" th:value="${c.data}"/>
							<button class=button3 name="exam_date_id" type="submit"
								th:value="${c.id}" th:text="${c.data}"></button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>