<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="shortcut icon" href="/ERR_pure_html/resources/favicon.png" />
<meta charset="UTF-8" />
<title>Exam Enrolls</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<form action="LogOut" method="get">
		<button class=logoutbutton type="submit">logout  &#10008;</button>
	</form>
	<form action="GoToHomePagePro" method="get">
		<button class=returnbutton>go back &#11144;</button>
	</form>
	<h1>EXAM DATES</h1>
	<p	th:text="${'All exam dates of the course ' + coursename}"></p>

	<div>
		<table>
			<thead>
				<tr class=pro>
					<th>IdAppello</th>
					<th>Date</th>
			</thead>
			<tbody>
				<tr th:each="c : ${exams}">
					<td th:text="${c.id}"></td>
					<td>

						<form action="GoToSessionEnrolls" method="get">
							<input type="hidden" name="coursename" id="coursename" th:value="${coursename}"/>
							<input type="hidden" name="mask" id="mask" value="2222222"/>
							<input type="hidden" name="secret_code" id="secret_code" value="00"/>
							<input type="hidden" name="sort" id="sort" value="0"/>
							<input type="hidden" name="date" id="date" th:value="${c.data}"/>
							<input type="hidden" name="course_id" id="course_id" th:value="${course_id}"/>
							<button class=button3 name="exam_date_id" type="submit"
								th:value="${c.id}" th:text="${c.data}"></button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>