<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Exam Enrolls</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>EXAM ENROLLS</h1>
		<table>
		<thead>
			<tr>
				<th>IDStud</th>
				<th>Name</th>
				<th>Surname</th>
				<th>Email</th>				
				<th>ICourseDeg</th>
				<th>Mark</th>
				<th>Status</th>
				</thead>
		<tbody>
			<tr th:each="c : ${courses}">
				<td th:text="${c.id}"></td>
				<td>
					<a th:text="${c.name}" th:href = "@{/{name} (name=${c.name})}"></a>  <!--  Demo Only Linked Button -->
				</td>
				<td> 
					<form action="GoToSessionEnrolls" method="POST">
    				<input type="submit" name="${c.di}" value="VIEW" />
					</form>				
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>