<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Exam Enrolls</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<form action="LogOut" method="get">
		<button class=logoutbutton type="submit">logout &#10008</button>
	</form>
	<form action="GoToExamDatesPro" method="get">
		<input type="hidden" name="coursename" th:value="${coursename}" />
		<button class=returnbutton name="course_id" type="submit"
			th:value="${course_id}">go back &#11144</button>
	</form>
	<h1>EXAM ENROLLS</h1>
	<p
		th:text="${'All students enrolled in the ' + date + ' exam of ' + coursename}"></p>
	<p th:text=" ${errorMsg}"></p>
	<table>
		<thead>
			<tr class=pro>
				<th><form action="GoToSessionEnrolls" method="GET">
						<input type="hidden" name="mask" th:value="${mask}" /><input
							type="hidden" name="exam_date_id" th:value="${exam_date_id}" /><input
							type="hidden" name="date" th:value="${date}" /> <input
							type="hidden" name="coursename" th:value="${coursename}" /> <input
							type="hidden" name="course_id" th:value="${course_id}" />
						<button class="sort" type="submit" name="sort" th:value="1">IDStud&nbsp&#8645</button>
					</form></th>
				<th><form action="GoToSessionEnrolls" method="GET">
						<input type="hidden" name="mask" th:value="${mask}" /><input
							type="hidden" name="exam_date_id" th:value="${exam_date_id}" /><input
							type="hidden" name="date" th:value="${date}" /> <input
							type="hidden" name="coursename" th:value="${coursename}" /> <input
							type="hidden" name="course_id" th:value="${course_id}" />

						<button class="sort" type="submit" name="sort" th:value="2">Name&nbsp&#8645</button>
					</form></th>
				<th><form action="GoToSessionEnrolls" method="GET">
						<input type="hidden" name="mask" th:value="${mask}" /><input
							type="hidden" name="exam_date_id" th:value="${exam_date_id}" /><input
							type="hidden" name="date" th:value="${date}" /> <input
							type="hidden" name="coursename" th:value="${coursename}" /> <input
							type="hidden" name="course_id" th:value="${course_id}" />

						<button class="sort" type="submit" name="sort" th:value="3">Surname&nbsp&#8645</button>
					</form></th>
				<th><form action="GoToSessionEnrolls" method="GET">
						<input type="hidden" name="mask" th:value="${mask}" /><input
							type="hidden" name="exam_date_id" th:value="${exam_date_id}" /><input
							type="hidden" name="date" th:value="${date}" /> <input
							type="hidden" name="coursename" th:value="${coursename}" /> <input
							type="hidden" name="course_id" th:value="${course_id}" />

						<button class="sort" type="submit" name="sort" th:value="4">Email&nbsp&#8645</button>
					</form></th>
				<th><form action="GoToSessionEnrolls" method="GET">
						<input type="hidden" name="mask" th:value="${mask}" /><input
							type="hidden" name="exam_date_id" th:value="${exam_date_id}" /><input
							type="hidden" name="date" th:value="${date}" /> <input
							type="hidden" name="coursename" th:value="${coursename}" /> <input
							type="hidden" name="course_id" th:value="${course_id}" />

						<button class="sort" type="submit" name="sort" th:value="5">CourseDeg&nbsp&#8645</button>
					</form></th>
				<th><form action="GoToSessionEnrolls" method="GET">
						<input type="hidden" name="mask" th:value="${mask}" /><input
							type="hidden" name="exam_date_id" th:value="${exam_date_id}" /><input
							type="hidden" name="date" th:value="${date}" /> <input
							type="hidden" name="coursename" th:value="${coursename}" /> <input
							type="hidden" name="course_id" th:value="${course_id}" />

						<button class="sort" type="submit" name="sort" th:value="6">Mark&nbsp&#8645</button>
					</form></th>
				<th><form action="GoToSessionEnrolls" method="GET">
						<input type="hidden" name="mask" th:value="${mask}" /><input
							type="hidden" name="exam_date_id" th:value="${exam_date_id}" /><input
							type="hidden" name="date" th:value="${date}" /> <input
							type="hidden" name="coursename" th:value="${coursename}" /> <input
							type="hidden" name="course_id" th:value="${course_id}" />

						<button class="sort" type="submit" name="sort" th:value="7">Status&nbsp&#8645</button>
					</form></th>
				<th class="sortstatic">Option</th>
		</thead>
		<tbody>
			<tr th:each="e : ${enrolls}" th:class="${eStat.even}? 'even'">
				<td th:text="${e.IDStudent}"></td>
				<td th:text="${e.name}"></td>
				<td th:text="${e.surname}"></td>
				<td th:text="${e.mail}"></td>
				<td th:text="${e.courseDeg}"></td>
				<td th:text="${e.mark}"></td>
				<td th:text="${e.status}"></td>
				<td>
					<form action="GoToModify" method="GET">
						<input type="hidden" name="coursename" id="coursename"
							th:value="${coursename}" /> <input type="hidden"
							name="secret_code" th:value="${secret_code}" /> <input
							type="hidden" name="mask" th:value="${mask}" /> <input
							type="hidden" name="date" th:value="${date}" /> <input
							type="hidden" name="exam_date_id" th:value="${exam_date_id}" />
						<input type="hidden" name="course_id" th:value="${course_id}" />
						<input type="hidden" name="name" th:value="${e.name}" /> <input
							type="hidden" name="surname" th:value="${e.surname}" /> <input
							type="hidden" name="email" th:value="${e.mail}" /> <input
							type="hidden" name="coursedeg" th:value="${e.courseDeg}" /> <input
							type="hidden" name="mark" th:value="${e.mark}" /> <input
							type="hidden" name="status" th:value="${e.status}" />
						<div th:switch="${#strings.toString(e.status)}">
							<button th:case="'RECORDED'" th:class=modifylo name="id_stud"
								type="button" th:value="${e.IDstudent}">Modify</button>

							<button th:case="'REJECTED'" th:class=modifylo name="id_stud"
								type="button" th:value="${e.IDstudent}">Modify</button>

							<button th:case="*" th:class=modify name="id_stud" type="submit"
								th:value="${e.IDstudent}">Modify</button>
						</div>

					</form>
				</td>
			</tr>
		</tbody>
	</table>

	<div>
		<form class=proenrollform action="UpdateStatus" method="POST">
			<input type="hidden" name="coursename" id="coursename"
				th:value="${coursename}" /> <input type="hidden" name="mask"
				th:value="${mask}" /> <input type="hidden" name="date"
				th:value="${date}" /> <input type="hidden" name="secret_code"
				th:value="${secret_code}" /> <input type="hidden" name="course_id"
				th:value="${course_id}" />

			<button th:class="${publish} ? publish : publishlo" name="exam_date_id" th:type="${publish} ? submit : button"
				th:value="${exam_date_id}">PUBLISH</button>

		</form>

		<form class=proenrollform action="GoToRecord" method="POST">
			<input type="hidden" name="coursename" id="coursename"
				th:value="${coursename}" /> <input type="hidden" name="secret_code"
				th:value="${secret_code}" /> <input type="hidden" name="mask"
				th:value="${mask}" /> <input type="hidden" name="date"
				th:value="${date}" /> <input type="hidden" name="course_id"
				th:value="${course_id}" />

			<button th:class="${record} ? record : recordlo" name="exam_date_id" th:type="${record} ? submit : button"
				th:value="${exam_date_id}">RECORD</button>

		</form>
	</div>

</body>
</html>