<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Exam Enrolls</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/LogOut}">Logout</a>
	</div>
	<h1>EXAM DATES</h1>

	<div>
		<table>
			<thead>
				<tr class=pro>
					<th>IdAppello</th>
					<th>Date</th>
			</thead>
			<tbody>
				<tr th:each="c : ${exams}">
					<td th:text="${c.id}"></td>
					<td>
						<a th:href="@{/GoToSessionEnrolls(exam_date_id=${c.id})}"> 
							<button class=button3 name="exam_date_id" type="submit" th:value="${c.id}" th:text="${c.date}"></button> 
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>