<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
<title>Home</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">LogOut</a>
	</div>
	<h1>Welcome to the Student Home page</h1>
	<p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>
	<table >
		<thead>
			<tr class=stud>
				<th>IDCourse</th>
				<th>name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${courses}">
				<td th:text="${c.id}"></td>
				<td th:text="${c.name }"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>