<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="shortcut icon" href="/ERR_pure_html/resources/favicon.png" />
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/style.css" th:href="@{/css/style.css}" />
<title>Modify Score</title>
</head>
<form action="LogOut" method="get">
	<button class=logoutbutton type="submit">logout &#10008;</button>
</form>

<form action="GoToSessionEnrolls" method="get">
	<input type="hidden" name="mask" id="mask" th:value="${mask}" /> <input
		type="hidden" name="exam_date_id" id="exam_date_id"
		th:value="${exam_date_id}" /> <input type="hidden" name="date"
		id="date" th:value="${date}" /> <input type="hidden"
		name="coursename" id="coursename" th:value="${coursename}" /> <input
		type="hidden" name="course_id" th:value="${course_id}" /> <input
		type="hidden" name="sort" id="sort" th:value="${sort}" />
	<button class=returnbutton type="submit" th:value="${sorturl}">go
		back &#11144;</button>
</form>

<body>
	<h1>MODIFY SCORE</h1>
	<h3
		th:text="${'Change the score of ' + name + ' ' + surname + ' in the session ' + exam_date_id + ' of the ' + date}"></h3>


	<div>
		<table>
			<thead>
				<tr class=stud>
					<th>Id Student</th>
					<th>Name</th>
					<th>Surname</th>
					<th>CourseDeg</th>
					<th>Date</th>
					<th>Course ID</th>
					<th>Course</th>
					<th>Score</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td th:text="${id_stud}"></td>
					<td th:text="${name}"></td>
					<td th:text="${surname}"></td>
					<td th:text="${coursedeg}"></td>
					<td th:text="${date}"></td>
					<td th:text="${course_id}"></td>
					<td th:text="${coursename}"></td>
					<td th:text="${mark}"></td>
					<td th:text="${status}"></td>
				</tr>

			</tbody>
		</table>
	</div>
	<br>
	<br>
	<br>
	<div>
		<br> <br> <br>
		<h4>Change The Score</h4>
	</div>
	<div>
		<table>
			<thead>
				<tr class=stud>
					<th>id_stud</th>
					<th>Surname</th>
					<th>Name</th>
					<th>New Score</th>
					<th>Option</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${id_stud}"></td>
					<td th:text="${surname}"></td>
					<td th:text="${name}"></td>
					<td>
						<form action="UpdateScore" method="post">
							<select class=score name="score" id="score" required>
								<option value="" selected="selected"></option>
								<option value="ABSENT">ABSENT</option>
								<option value="RIMANDATO">RIMANDATO</option>
								<option value="RIPROVATO">RIROVATO</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="30L">30L</option>
							</select>
					</td>
					<td><input type="hidden" name="coursename" id="coursename"
						th:value="${coursename}" /> <input type="hidden"
						name="secret_code" th:value="${secret_code}" /> <input
						type="hidden" name="mask" th:value="${mask}" /> <input
						type="hidden" name="date" th:value="${date}" /> <input
						type="hidden" name="exam_date_id" th:value="${exam_date_id}" /> <input
						type="hidden" name="course_id" th:value="${course_id}" /> <input
						type="hidden" name="name" th:value="${name}" /> <input
						type="hidden" name="surname" th:value="${surname}" /> <input
						type="hidden" name="email" th:value="${email}" /> <input
						type="hidden" name="coursedeg" th:value="${coursedeg}" /> <input
						type="hidden" name="sort" th:value="${sort}" />
						<button class=modify name="id_stud" type="submit"
							th:value="${id_stud}">UPDATE</button>
						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>