<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Record Page</title>


</head>
<body>
<h1>University of NightCity Record # [.....]</h1>
<p>Document digitally signed on [.....],
Registration of the appeal of the [.....], with code [.....], relating to the course of [.....], with the code[.....], 
supported by the professor[.....], with code[.....].</p>

	<div>
		<table>
			<thead>
				<tr class=pro>
					<th>ID</th>
					<th>Surname</th>
					<th>Name</th>
					<th>Mark</th>
				</tr>
			</thead>
			<tbody>
			<!-- 	<tr th:each="c : ${courses}">
					<td th:text="${c.id}"></td>
										<td th:text="${c.id}"></td>
										<td th:text="${c.id}"></td>
										<td th:text="${c.id}"></td>
				</tr> -->
			</tbody>
		</table>
	</div>


<p>The document has legal value and must be printed and kept on file./p>

</body>
</html>