/*Generic Table Border*/
table, th, td {
  border: 1px solid black;
}

/*Professor Table*/
.pro{
	background-color:#FF0000;
}

/*Student Table*/
.stud{
	background-color:#3465a4;
}

/*Button for tables choice*/
.button3{
	background-color: white;
	border: none; 
	color: blue;
	cursor: pointer;
}

.button3:hover{
	text-decoration: underline;
}
/*Login Form*/
.loginform{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: blue;
}
/*
body {
    text-align: center;
    background-color: #729fcf;
}

.logout{
  background-color: red;
  color: white;
 }

form {
    display: inline-block;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} 
.button2 {background-color: #008CBA;} 

.button3{
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}*/